<html>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <body>
        <div class="sidenav">
            <a href=http://localhost:8080/addNewtask>add new task</a>
            <a href=http://localhost:8080/showTask>show all tasks</a>
        </div>
        
                
        <div class="display_msg">
            <h1>
                Welcome to my task management system! 
            </h1>
            <img class ="top_img" src="logo.png"></img>
        </div>
    </body>
</html>